.search-form {
  width: 100%;
  .departure {
  	font-size: 20pt;
  	padding-top: 30px;
  	text-align: left;
    padding-left: 30px;
    #departure {
      font-size: 15pt;
      background: white;
      height: 50px;
      max-width: 80%;
    }
  	}
  .destination {
  	@extend .departure;
    #destination {
      @extend #departure;
    }
  }
  .submit {
    width: 100%;
    padding-top: 30px;
  }
  .submit-button {
    color: white;
    background: $wine;
    width: 80%;
    margin-left: 10%;
    font-size: 15pt;
    height: 50px;
  }
}